<h1 id="subtitle">Assign <%= @animal.name%> to a new owner</h1>

<form method="POST" action="/animals/<%= @animal.id %>/adopt">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="owner_id">Select Owner:</label>
      <select name="owner_id" id="owner-select">
        <% @owners.each do |owner| %>
        <option value="<%= owner.id %>"><%= owner.name.capitalize %></option>
        <% end %>
      </select>
    </div>

    <div class="btn">
      <input type="submit" value="Adopt Animal"/>
    </div>

</form>
