<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Scottish Animal Shelter</title>
    <link rel="icon" href="/images/JungleAnimalsBorder.jpg" />
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
    <link rel="stylesheet" type="text/css" href="/styles/forms.css">
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  </head>



  <body>
    <h1>Scottish Animal Shelter</h1>
    <nav id="menu">
      <li class="menu-item"><a href='/animals'>See all animals in shelter</a></li>
      <li class="menu-item"><a href='/owners'>See all owners and their pets</a></li>
      <li class="menu-item"><a href='/animals/new'>Add Animal</a></li>
      <li class="menu-item"><a href='/owners/new'>Add Owner</a></li>
      <p>The Scottish Animal Shelter cares for all kinds of animals until they're ready for adoption, you can use the menu above to browse, add and edit animals and owners</p>
      <%= yield %>
  </body>
</html>
