<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Scottish Animal Shelter</title>
  </head>
  <body>
    <nav id="menu">
      <li class="menu-item"><a href='/animals/'>See all animals in shelter</a></li>
      <li class="menu-item"><a href='/owners/'>See all Owners</a></li>
      <li class="menu-item"><a href='animals/new'>Add Animal</a></li>
      <li class="menu-item"><a href='owners/new'>Add Owner</a></li>
      <%= yield %>
  </body>
</html>
