body {
  background: url('/images/background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
  padding: 10px;
  font-family: 'Montserrat', cursive;
  color: green ;
}

h1 {
  justify-content: center;
}

td, th {
  text-align: left;
}

td {
  padding: 10px 20px 0px 0px;
}

th {
  padding: 0px 20px 10px 0px;
  border-bottom: 1px solid green;
}

table {
  border-collapse: collapse;
}

/* #menu {
display: flex;
flex-direction: row;
justify-content: center;
} */

.menu-item {
  display: flex;
  justify-content: center;
  font-size: 20px;
  display: inline-block;
  flex-grow: 2;
}
